/* general rules  */
body {
    font-family: Arial;
}

.ms-btn {
    border-radius: 40px;
    color: white;
    transition: all;
}

.ms-bg-orangered {
    background-color: orangered;
}

.section-title {
    text-align: center;
}

.section-title h2 {
    margin-bottom: 20px;
}

.section-title .blue {
    color: rgba(19,124,209,255);
}

.section-title .grey {
    color: rgba(115,115,115,255);
    font-weight: bold;
}


/* header  */
header {
    width: 100%;
    height: 130px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

    /* logo  */
#logo {
    height: 50px; 
    background-color: black;
    text-align: right;
    padding: 10px;
}

#logo img {
    width: 100px;
}

    /* nav bar  */
.navbar {
    height: 80px;
}

.nav-link {
    font-family: helvetica;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
}

.ms-chevron-down {
    width: 10px;
    margin-left: 2px;
}

.btn.ms-bg-black {
    background-color: rgba(54,54,54,255);
}

.btn.ms-bg-black:hover {
    background-color: grey;
}

.ms-lens {
    width: 22px;
    margin-left: 15px;
    margin-top: 10px;
}



    
/* jumbo  */
#jumbo {
    margin-top: 130px;
    height: 600px;
    background-image: url("../img/jumbo-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

#ms-returnal-logo {
    width: 50%;
}

#jumbo h1 , #jumbo p {
    margin: 20px 0;
}

#ms-jumbo-container {
    height: 100%;
    position: relative;
    
} 

#ms-jumbo-text {
    width: 100%;
    position: absolute;
    left: 5px;
    bottom: 50px;  
}

/* games  */
.game-img {
    margin: 20px 0;
    width: 100%;
}

#games img {
    width: 100%;
    border-radius: 15px;
}

#games .img-border {
    border-radius: 10px;
}

.img-border img {
    border: 2px solid transparent;
    padding: 5px;
}

.img-border.active img {
    border: 2px solid rgb(19, 111, 216);
}