/* general rules  */
body {
    font-family: Arial;
}

/* buttons */
.ms-btn {
    border-radius: 40px;
    color: white;
    transition: all;
    margin-top: 30px;
    display: block;
}

.ms-bg-orangered {
    background-color: orangered;
}

.ms-bg-blue {
    background-color: rgba(45,100,230,255);
}

/* sections  */
h1 {
    font-size: 45px;
    margin: 30px 0;
}
h2 {
    margin-bottom: 20px;
    font-size: 40px;
}

sup {
    font-size:9px;
}

.grey {
    color: rgba(115,115,115,255);
    font-weight: bold;
    font-size: 25px;
}

.grey.thin {
    font-weight: lighter;
}

.section-title {
    text-align: center;
    margin: 80px 0;
}


.section-title .blue {
    color: rgba(19,124,209,255);
}



/* header  */
header {
    width: 100%;
    height: 130px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

    /* logo  */
#logo {
    height: 50px; 
    background-color: black;
    text-align: right;
    padding: 10px;
}

#logo img {
    width: 100px;
}

    /* nav bar  */
.navbar {
    height: 80px;
}

.nav-link {
    font-family: helvetica;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
}

.ms-chevron-down {
    width: 10px;
    margin-left: 2px;
}

.btn.ms-bg-black {
    background-color: rgba(54,54,54,255);
    margin-top: 0;
}

.btn.ms-bg-black:hover {
    background-color: grey;
}

.ms-lens {
    width: 22px;
    margin-left: 15px;
    margin-top: 10px;
}



    
/* jumbo  */
#jumbo {
    margin-top: 130px;
    height: 600px;
    background-image: url("../img/jumbo-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

#ms-returnal-logo {
    width: 50%;
}

/* #jumbo h1 {
    font-size: 45px;
    margin: 20px 0;
} */

#jumbo p {
    margin-top: 20px;
}

#ms-jumbo-container , #ms-it-takes-two-container {
    height: 100%;
    position: relative;
} 

#ms-jumbo-text , #ms-it-takes-two-text {
    width: 100%;
    position: absolute;
    left: 5px;
    bottom: 50px;  
}

/* games  */
.game-img {
    margin: 20px 0;
    width: 100%;
}

#games img {
    width: 100%;
    border-radius: 15px;
}

#games .img-border {
    border-radius: 10px;
}

.img-border img {
    border: 2px solid transparent;
    padding: 5px;
}

.img-border.active img {
    border: 2px solid rgb(19, 111, 216);
}


/* section playstation 5  */
#playstation-5 {
    margin-bottom: 35px;
}

#playstation-5 img{
    width: 100%;
}

#playstation-5 .console-item {
    height: 100%;
}

#playstation-5 .console-item .item-description {
    font-size: 19px;
}

@media all and (max-width: 767px) {
    #playstation-5 .console-item .item-description {
        display: none;
    }
}

#playstation-5 .console-item.item-active {
    border-bottom: 3px solid rgba(21,125,209,255);
}


/* section it takes two  */
#it-takes-two {
    height: 956px; 
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position: center;
    color: white;
   
}

#ms-it-takes-two-logo {
    width: 100%;
}


/* section new releases   */
#new {
    background-color: rgba(31,31,31,255);
    color: white;
    
}

#new .title {
    padding-top: 20px;
}

#new h3 {
    font-size: 30px;
}

.title span {
    font-size: 24px;
}

.game-item {
    margin: 30px 0;
}

.game-item img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 10px;
}


/* section playstation 4  */
#playstation-4 sup {
    font-size: 20px;
}

#playstation-4 span {
    display: block;
    font-size: 21px;
    color: grey;
}

.ps4-item{
    margin: 10px 0;
}

#playstation-4 img {
    width: 100%;
}


/* section playstation plus  */
#playstation-plus {
    background-color: rgba(190,188,187,255);
}

.ps-plus {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.ps-plus #ps-plus-logo {
    width: 50%;
    padding-bottom: 30px;
}

@media all and (max-width: 767px) {

    .ps-plus {
        padding: 35px 0;
    }

    #hidden {
        display: none;
    }

}

.ps-plus span {
    display: block;
}

#playstation-plus img {
    width: 100%;
}

.ms-btn-blue-white {
    color: rgba(53,105,230,255);
    background-color: rgba(217,218,220,255);
}


/* .ms-col {
    min-height: 400px;
    background-color: coral;
    border: 1px solid black;
} */